    
    <div class="container w-50 ">
        <form>
            <h3>Type de Tickets</h3>
            <div class="form-group">
                <label>Nom de demandeur</label>
                <input type="email" placeholder="nom de demandeur" class="form-control">
            </div>
            <div class="form-group">
                <label>Email de demandeur</label>
                <input type="email" placeholder="email de demandeur" class="form-control">
            </div>
            <div class="form-group">
                <label>Titre</label>
                <input type="email" placeholder="titre" class="form-control">
            </div>
            <div class="form-check d-flex ">
                <input type="checkbox"  class="form-check">
                <label class="form-check-label m-1">check me out</label>
            </div>
            <label>Type de ticket</label>
            <div class="form-group">
                <select class="form-control">
                    <option>Bug</option>
                    <option>Amélioration</option>
                    <option>Support</option>
                    <option>Tach technique</option>
                    <option>Mise a jour</option>
                    <option>Test</option>
                </select>
            </div>
            <button class="btn btn-primary mt-2">click</button>
        </form>
    </div>