    
    <div class="container w-50 ">
        <form>
            <h3>Détais de ticket</h3>
            <div class="form-group">
                <label>Titre</label>
                <input type="text" placeholder="titre" class="form-control">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" placeholder="Description" class="form-control">
            </div>
            <div class="form-group">
                <label>Etapes reproduire</label>
                <input type="text" placeholder="etapes" class="form-control">
            </div>
            
            <div class="form-group">
                <label>Date du probleme</label>
                <input type="date" placeholder="Date" class="form-control">
            </div>
            
            
            <div class="form-group">
                <label>Navigateur</label>
                <select class="form-control">
                    <option>Bug</option>
                    <option>Amélioration</option>
                    <option>Support</option>
                    <option>Tach technique</option>
                    <option>Mise a jour</option>
                    <option>Test</option>
                </select>
            </div>
            <div class="form-check d-flex ">
                <input type="checkbox"  class="form-check">
                <label class="form-check-label m-1">check me out</label>
            </div>
            <button class="btn btn-primary mt-2">click</button>
        </form>
    </div>