<nav class=" container navbar navbar-expand-lg " >
    <img src="https://www.isicod.net/images/acceuil/logo.svg" class="navbar-brand" style="height: 100px; width: 150px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
    <div  id ="nav" class="collapse navbar-collapse " style="justify-content: space-between;">
        <ul class="navbar-nav ms-3 auto">
            <li class="nav-item ms-3"><a href="#" class="nav-link  text-primary">home</a></li>
            <li class="nav-item ms-3"><a href="#" class="nav-link text-primary">service</a></li>
            <li class="nav-item ms-3"><a href="#" class="nav-link text-primary">about</a></li>
            <li class="nav-item ms-3"><a href="#" class="nav-link text-primary">profil</a></li>
            
        </ul>
        <div class="btn btn-primary" >Deconnexion</div>
    </div>
    
</nav>