<!-- navbar2 -->
<nav class=" container navbar navbar-expand-lg " >
    <img src="https://www.isicod.net/images/acceuil/logo.svg" class="navbar-brand" style="height: 100px; width: 150px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 
    <div  id ="nav" class="collapse navbar-collapse " style="justify-content: space-between;">
        <ul class="navbar-nav ms-3 auto">
            <li class="nav-item ms-3"><a href="#" class="nav-link  text-primary">home</a></li>
            <li class="nav-item ms-3"><a href="#" class="nav-link text-primary">service</a></li>
            <li class="nav-item ms-3"><a href="#" class="nav-link text-primary">about</a></li>
            <li class="nav-item ms-3"><a href="#" class="nav-link text-primary">profil</a></li>
            
        </ul>
        <div class="btn btn-primary" >Deconnexion</div>
    </div>
    
</nav>



    <div class="parag">
<div class=" container p-5 rounded-3 "style="background: linear-gradient(to right top, 
            rgba(2, 62, 138, 0.9) 50%, 
            rgba(255, 255, 255, 0.1) 140%);">
  <h1 class="display-4 text-white">Plateforme de Gestion de Tickets!</h1>
  <p class="lead"  style="color: white; width: 75%;" >Un système complet pour gérer efficacement les demandes et incidents.

Suivez, priorisez et résolvez les tickets en temps réel avec des outils puissants.</p>
  <hr class="my-4" style="width: 450px; color:white;" />
  <p class="text-white">Suivez et résolvez les incidents en temps réel.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button" data-bs-toggle="collapse" data-bs-target="#ahmed">En savoir plus</a>
</div>




<div class="  container collapse " id="ahmed">
    <div class="d-flex mt-5">
            <!-- Début de la carte -->
        <div class=" col-4 card p-2">
            <img src="https://cdn.icon-icons.com/icons2/20/PNG/96/business_ticket_2362.png" class="card-img"  alt="..." style="height: 100px ; width: 100px;">
            <div class="card-body">
                <h5 class="card-title fs-4">Créer un Ticket</h5>
                <p class="card-text">Ajouter un nouveau ticket avec un titre, une description, une priorité et une deadline d une ticket.</p>
                <a href="#" class="btn btn-primary">Cliquez</a>
            </div>
        </div>
        <!-- Fin de la carte -->
    

        <!-- Début de la carte -->
        <div class=" col-4 card p-2 ">
            <img src="https://images.icon-icons.com/20/PNG/256/business_ticket_2363.png" class="card-img" alt="..." class="card-img-top "  alt="..." style="height: 100px ; width: 100px;">
            <div class="card-body">
                <h5 class="card-title fs-4">Voir les Tickets</h5>
                <p class="card-text">Consulter des tickets enregistrés sur la plateforme, avec la possibilité d’appliquer des filtres dynamiques</p>
                <a href="#" class="btn btn-primary">Cliquez</a>
            </div>
        </div>
        <!-- Fin de la carte -->
   



        <!-- Début de la carte -->
        <div class="col-4 card p-2">
            <img src="https://groupitsupport.co.za/digicall/view.png" class="card-img" alt="..." class="card-img-top "  alt="..." style="height: 100px ; width: 100px;">
            <div class="card-body">
                <h5 class="card-title fs-4">Satatistique</h5>
                <p class="card-text">Suivez l'évolution de vos tickets par statut, priorité et échéance grâce à des indicateurs visuels.
</p>
                <a href="#" class="btn btn-primary">Cliquez</a>
            </div>
        </div>
    


    </div>
    </div>




    <div class="  container collapse " id="ahmed">
    <div class="d-flex " style="margin: 50px 0;">
            <!-- Début de la carte -->
        <div class=" col-4 card p-2">
            <img src="https://cdn.icon-icons.com/icons2/20/PNG/96/business_ticket_2362.png" class="card-img"  alt="..." style="height: 100px ; width: 100px;">
            <div class="card-body">
                <h5 class="card-title fs-4">Créer un Ticket</h5>
                <p class="card-text">Ajouter un nouveau ticket avec un titre, une description, une priorité et une deadline d une ticket.</p>
                <a href="#" class="btn btn-primary">Cliquez</a>
            </div>
        </div>
        <!-- Fin de la carte -->
    

      
            </div>
        </div>
    





    




   

    










